body {
	background-image: url("bg.jpg");
	background-position: 0px 70px;
	background-repeat: no-repeat;
	background-size: 1400px 650px;
	overflow: hidden hidden;
}
.box1 {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid transparent;
	height: 70px;
	background-color: #0C3050;
	width: 100%;
}
.box1 h1 {
	position: relative;
	bottom: 20px;
	left: 1%;
	font-family: chiller;
	font-size: 50px;
	letter-spacing: 12px;
	color: white;
}
.hogwarts {
	position: absolute;
	top: 25%;
	left: 25%;
}
.hogwarts h1 {
	text-shadow: 0px 5px 0px black;
	letter-spacing: 12px;
	font-family: harrington;
	font-size: 110px;
	color: #00425E;
}
.boxes {
	position: fixed;
	top: 62%;
	left: 3.2%;
}
.boxes a {
	text-decoration: none;
	border: 1px solid white;
	padding: 6px 47.5px;
	margin: 0px 35px;
	font-family: times new roman;
	font-size: 24px;
	color: cyan;
}
.boxes a:hover {
	background-color: #00425E;
	border: 1px double #0C3050;
	color: white;
}